doctype html
html
  head
    title= title
    link(rel="stylesheet", href="/css/estiloGeneral.css")
    script(src="/js/estiloGeneral.js", defer)
    script(src="/js/main.js", defer)
    link(rel="stylesheet", href="/css/styleCards.css")
    link(rel="icon" href="img/favicon.ico" type="image/ico")
body
  div#navbar-container
  div#config-panel
  div#help-panel
  div#cards-container

